@mixin center-things {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin right-things {
    display: flex;
    align-items:flex-end ;
    justify-content: center;
}

@mixin class-grid-container($rows, $columns, $width, $height) {

    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    height: $height;
    width: $width;

}

@mixin class-header($link-size) {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    font-weight: 500;
    .link {
        font-size: $link-size;
        color: white;
        text-decoration: none;
    }
}

@mixin class-grid-container-same-size($rows, $columns, $width, $height) {
    $size-columns: (100/$columns)*1%;
    $size-rows: (100/$rows)*1%;

    display: grid;
    grid-template-columns: repeat($columns, minmax($size-columns, $size-columns));
    grid-template-rows: repeat($rows, minmax($size-rows, $size-rows));
    height: $height;
    width: $width;
}

@mixin class-body($width, $height, $grid-template-rows, $grid-columns-screen1, $grid-rows-screen1, $grid-columns-screen2, $grid-rows-screen2, $grid-areas-screen2) {
    // width: 100vw;
    // height: 185vh;
    width: $width;
    height: $height;
    overflow: hidden;
    display: grid;
    // grid-template-rows: 85vh 100vh;
    grid-template-rows: $grid-template-rows;
    .screen-1 {
        @include class-screen-1($grid-columns-screen1, $grid-rows-screen1);
    };
    .screen-2 {
        @include class-screen-2($grid-columns-screen2, $grid-rows-screen2, $grid-areas-screen2);
    };
    

};

@mixin class-screen-1($grid-columns, $grid-rows) {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    // grid-template-columns: 50% 50%;
    // grid-template-rows: 50% 50%;
    grid-template-columns: $grid-columns;
    grid-template-rows: $grid-rows;
    .images {
        width: 100%;
        height: 100%;
        @include center-things();
        .image {
            height: auto;
            width: 60%;
            border-radius: 1rem;
        }

        .image_sat{
            @include center-things();
            flex-direction: column;
            width: auto;
            height: 80%;
            border-radius: 0%
        
        }

    }
    .definition {
        @include center-things();
        flex-direction: column;
        padding: 1rem;
        width: 90%;
        height: 90%;
    }


    .tiposImpuestos {
        @include center-things();
        border: 1px solid black;
        flex-direction: column;
        .list {
            max-height: 100%;
            max-width: 100%;
            overflow: auto;
        }
    }
    .benefits{
        border: 1px solid black;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 80%;
        grid-template-areas: 
        "a a" 
        "b b"
        ;
        .title {
            grid-area: a;
            overflow: auto;
            margin: 0%;
            @include center-things();
        }
        .government {
            grid-area: b;
            overflow: hidden;
            .image {
                width: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .subtitle {
                text-align: center;
                margin: .5rem 0 0 0;
                font-weight: bold;
            }
            .list {
                margin-top: 1px;
                .item {
                    font-size: .7rem;
                }
            }
        }
        
    }
}

@mixin class-screen-2($grid-columns, $grid-rows, $grid-areas) {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    // grid-template-columns: 50% 50%;
    // grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-columns: $grid-columns;
    grid-template-rows: $grid-rows;
    grid-template-areas: $grid-areas;
    // "a a"
    // "b c"
    // "d d";

    
  

    .characteristics {
        grid-area: a;
        display: grid;
        grid-template-columns: 25% 25% 25% 25% 25%;
        grid-template-rows: 20% 150%;
        grid-template-areas: 
        "a a a a"
        "b f f c"
        "d d d d"      
        "e e e e"
        "g g g g"
        "h h h h"
        
        ;
        padding: 1rem;
        border: 1px solid white;

        .sat{
            @include center-things();
            grid-area: a;
                 max-height: 100%;
                max-width: 100%;               
        }

        .logo{
            @include center-things();
            align-content: end;
            align-items: flex-end;
            grid-area: b;
            height: 20;
            width: 20%;
            border-radius: 1rem;
        }

        .info{
            @include center-things();

            flex-direction: column;
            border: 1px solid black;
            grid-area: b;
                 max-height: 60%;
                max-width: 60%;
                display: flex;

        }

        .title {
            
            grid-area: e;
            @include center-things();
            .text {
                margin: 0%;
            }
            .sat{
                @include center-things();
            grid-area: a;
                 max-height: 100%;
                max-width: 100%;

            }
        }
       
        .list {
            grid-area: g;
            display: flex;
            align-items: center;
            .items {
                max-height: 100%;
                max-width: 100%;
               
            }
            border: 1px solid black;
        }
        .declarar{
            grid-area: b;
            @include center-things();
            width: 100%;
            height: 100%;
            
        }
        .impuesto{
            grid-area: b;
            @include center-things();
            width: 50%;
            height: 50%;
        }

        .sat{
            @include center-things();
            grid-area: a;
            font-size: 250%;
        }
        .satt{
            @include center-things();
            display: flex;
            font-size: 100%;
            grid-area: f;
            font-size: 150%;
            max-width: 200%;
            max-height: 200%;
        }
        .parrafo{
            @include center-things();
            display: flex;
            font-size: 100%;
           
            max-width: 100%;
        }

        .sattt{
            @include center-things();
            display: flex;
            font-size: 100%;
            grid-area: f;
            max-width: 30%;
            max-height: 30%;
        }
     
        .imagen{
            grid-area: c;
             width: 100%;
             height: 100%;
             @include center-things();

            .ima{
                grid-area: c;
                align-items: flex-end;
                height: auto;
                width: 60%;
                border-radius: 1rem;

            }
        }
    
    }
    
}

@mixin class-screen-3($grid-columns, $grid-rows, $grid-areas) {
    
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    // grid-template-columns: 50% 50%;
    // grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-columns: $grid-columns;
    grid-template-rows: $grid-rows;
    grid-template-areas: $grid-areas;
    // "a a"
    // "b c"
    // "d d";
    .characteristics {
        grid-area: a;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 20% 80%;
        grid-template-areas: 
        "a a a a"
        "c c c c"
        
        ;
        padding: 1rem;
        border: 1px solid black;
        .title {
            grid-area: a;
            @include center-things();
            .text {
                margin: 0;
            }
        }
       
        .list {
            grid-area: c;
            display: flex;
            align-items: center;
            .items {
                max-height: 100%;
                max-width: 100%;
                overflow: auto;
            }
        }
    }
    .documents {
        grid-area: b;
        overflow: hidden;
        @include center-things();
        flex-direction: column;
        border: 1px solid black;
        .title {
            margin: 0 0 1rem 0;
        }
        .table {
            padding: 1rem;
            background-color: white;
            border: .2rem solid black;
        }
    }
    .costs {
        grid-area: c;
        overflow: hidden;
        @include center-things();
        flex-direction: column;
        border: 1px solid black;
        .title {
            margin: 0 0 1rem 0;
        }
        .table {
            padding: 1rem;
            background-color: white;
            border: .2rem solid black;
        }
    }
    .procedure {
        grid-area: d;
        overflow: hidden;
        border: 1px solid black;
        @include center-things();
        flex-direction: column;
        .title {
            @include center-things();
            margin: 0 0 0 0;
            font-weight: bold;
        }
        .button {
            width: 30%;
        }
    }
}




// Small devices
@media only screen and (min-width: 0px) and (max-width: 576px) {
    .grid-container{
        @include class-grid-container(10% 90%, 100%, 100vw, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 100vw, 100%);
            @include class-header(.6rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2, Columns-screen3, Rows-screen3
            @include class-body(
                100vw, 370vh, 
                170vh 200vh,
                100%, 20% 30% 25% 25%, 
                100%, 25% 25% 25% 25%,
                "a"
                "b"
                "c" 
                "d"
            );
        }
    }
}

// Medium devices  
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .grid-container{
        @include class-grid-container(10% 90%, 100%, 100vw, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 100vw, 100%);
            @include class-header(1rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2, Columns-screen3, Rows-screen3
            @include class-body(
                100vw, 185vh,
                85vh 100vh,
                50% 50%, 50% 50%, 
                50% 50%, 33.3% 33.3% 33.3%, 
                "a a"
                "b c"
                "d d"
            );
        }
    }
}

// Large devices
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .grid-container{
        @include class-grid-container(7.5% 92.5%, 100%, 100vw, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 100vw, 100%);
            @include class-header(1rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2, Columns-screen3, Rows-screen3
            @include class-body(
                100vw, 185vh,
                85vh 100vh,
                50% 50%, 50% 50%, 
                50% 50%, 33.3% 33.3% 33.3%,
                "a a"
                "b c"
                "d d"
            );
        }
    }
}

// Extra large devices
@media only screen and (min-width: 993px) {
    .grid-container{
        @include class-grid-container(7.5% 92.5%, 100%, 100vw, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 100vw, 100%);
            @include class-header(1rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2
            @include class-body(
                100vw, 185vh,
                85vh 100vh,
                50% 50%, 50% 50%, 
                50% 50%, 33.3% 33.3% 33.3%,
                "a a"
                "b c"
                "d d"
            );
        }
    }
}
