<div class="grid-container">
    <div class="header">
        <div *ngFor="let label of labels; let i = index">
            <a class="link" routerLink="{{links[i]}}" routerLinkActive="active">{{label}}</a>
        </div>
    </div>
    <div class="body">
        <div class="main-new">
            <h1 routerLink="/credit-cards" class="title">{{new1}}</h1>
            <img routerLink="/credit-cards" class="main-image" src="assets\images\paying-off-ccs_toolbox.jpg" alt="Tarjetas de crédito">
        </div>
        <div class="second-new">
            <h2 routerLink="/electronic-signature" class="title">{{new2}}</h2>
            <img routerLink="/electronic-signature" class="main-image" src="assets\images\5-usos-de-la-firma-electrónica-1024x682.jpg" alt="Firma Eléctronica">
        </div>
        <div class="third-new">
            <h2 routerLink="/saving-tips" class="title">{{new3}}</h2>
            <img routerLink="/saving-tips" class="main-image" src="assets\images\ahorro.jpg" alt="Consejos Ahorro">
        </div>
    </div>
    <div class="footer">
        <p style="margin-right: 2%;">EQUIPO 7</p>
    </div>
</div>
