<div class="grid-container">
    <div class="header">
        <div *ngFor="let label of labels; let i = index">
            <a class="link" routerLink="{{links[i]}}" routerLinkActive="active">{{label}}</a>
        </div>
    </div>
    <div class="body">
        <div class="screen-1">
            
                <div class="definition">
                    <h2>¿Qué es una firma <br>Electronica?</h2>
                    <p>

                        {{firma}}
                        
                    </p>
                
                </div>
               
                
                <div class="uses">
                    <iframe src="https://www.youtube.com/embed/uzwACjMOr8k?start=40" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>

          

        </div>



        <div class="screen-2">
            <div class="characteristics">
               
                    <h1 >Características.</h1>
                    <div class="v-grid">
                        <div class="v-card">
                            <div >
                                <img src="/assets/images/foto-1.png" alt="OficinasYServiciosVirtuales">
                        
                                <h2>
                                autenticación de usuarios
                                </h2>
                                <p>
                                   {{autenticacion}} 

                                   
                                </p>
                            </div>
                        </div>
                        <div class="v-card">
                            <div id="virtual-office">
                                <img src="/assets/images/integridad.png" alt="OficinasYServiciosVirtuales">
                               <h2>Integridad</h2>
                                <p>
                                    {{integridad}}
                                   
                                </p>
                            </div>
                        </div>
                        <div class="v-card">
                            <div id="virtual-office">
                                <img src="/assets/images/candado.png" alt="OficinasYServiciosVirtuales">
                               <h2>
                                No repudio
                               </h2>
                                <p>
                                    {{repudio}}
                                  
                                </p>
                            </div>
                        </div>
                        <div class="v-card">
                            <div id="virtual-office">
                                <img src="/assets/images/seguridad.png" alt="OficinasYServiciosVirtuales">
                                <h2>La confidencialidad</h2>
                                <p>
                                    {{confidencialidad}}
                                   
                                </p>
                            </div>
                        </div>

                    </div>
              
               
            </div>
           
        </div>
            <div class="procedure-2">
                <h1>{{opciones}}</h1>
                <h2 class="title">Presencial:</h2>
                <p style="text-align: center;">{{presencial1}} <a title="Abre en nueva ventana"
                        target="_blank"
                        href="https://www.sat.gob.mx/personas/directorio-nacional-de-modulos-de-servicios-tributarios">Módulos</a>
                   {{presencial2}}</p>
                <h2 class="title">Citas por Internet:</h2>
                <button class="button" (click)="goToLink('https://citas.sat.gob.mx/citasat/home.aspx')" mat-raised-button
                    color="primary">
                    Haz tu cita
                </button>
            </div>
        
        
    </div>
</div>
