@mixin center-things {
    display: flex;
    align-items: center;
    justify-content: center;
}


$color-1:#00C8C8;
@mixin class-grid-container($rows, $columns, $width, $height) {

    display: flex;
    flex-direction: column;
    height: $height;
    width: $width;

}

@mixin class-header($link-size) {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    font-weight: 500;
    .link {
        font-size: $link-size;
        color: white;
        text-decoration: none;
    }
}

@mixin class-grid-container-same-size($rows, $columns, $width, $height) {
    $size-columns: (100/$columns)*1%;
    $size-rows: (100/$rows)*1%;

    display: grid;
    grid-template-columns: repeat($columns, minmax($size-columns, $size-columns));
    grid-template-rows: repeat($rows, minmax($size-rows, $size-rows));
    height: $height;
    width: $width;
}

@mixin class-body($width, $height, $grid-template-rows, $grid-columns-screen1, $grid-rows-screen1, $grid-columns-screen2, $grid-rows-screen2, $grid-areas-screen2) {

    width: $width;
    height: $height;
   
    .screen-1 {
        @include class-screen-1($grid-columns-screen1, $grid-rows-screen1);
    };
    .screen-2 {
        @include class-screen-2($grid-columns-screen2, $grid-rows-screen2, $grid-areas-screen2);
    };
    .procedure-2{
           @include seccion-cita();
    }
};

@mixin class-screen-1($grid-columns, $grid-rows) {
  //  height: 100%;
    width: 100%;

    height: 325px;

    display: flex;
    
    div{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
   
    .definition {
        @include center-things();
        flex-direction: column;
        padding: 2.5rem;
        h2{
            color: $color-1;
            text-decoration: solid;
            font-size: 2.5rem;
            text-align: center;
        }
        p
        {
            font-size: 1.5rem;
            color: black;
            text-align: justify;
        }
    }
  
    .uses {

iframe{
    width: 100%;
    height: 100%;
}
     
    }
  
}
@mixin seccion-cita(){
 margin-top: 80px;
    height: 325px;
    width:100%;
    background-color: $color-1;
    color: #fff;
    text-align: center;
    h1{
        font-size: 2.5rem;
        margin-top: 25px;
    padding: 37px 0;
    }
    h2{
        font-size: 2rem;
    }
    p{
        font-size: 1.4rem;
        a{
                text-decoration: none;
    font-weight: bold;
            color: #fff;
        }
    }
    button{
    background: transparent;
  border: 1px solid #fff;
  padding: 12px;
 
  outline: none;
  width: 220px;
  transition: all 500ms;

    border-radius: 9px;
    font-size: 0.7rem;
    font-weight: bolder;
    display: block;
    margin: auto;
    }


}


@mixin class-screen-2($grid-columns, $grid-rows, $grid-areas) {
    margin-top: 80px;
    height: 325px;
    width:100%;

    .characteristics {
        width: 100%;
    margin: 0 auto;

   h1{
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
    //font-family: "ubuntu-bold";
    color: $color-1;
   }
    }
    .v-grid{
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    column-gap: initial;
    gap: 10px;
	//padding: 20px 120px;
	margin-top: 20px;
    }
    .v-card{
        background: #fff;
		padding: 40px 20px;
	//	border-radius: 10px;
		display: inline-flex;
		justify-content: center;
		//border: 2px solid #fff;
		align-items: center;
		max-width: 250px;
		position: relative;
        
        h2{
        margin: 0;
      color: rgb(80, 79, 79) !important;
      font-size: 1.2rem;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      

        }
        p {
      margin: 0;
      color: grayscale($color: #363030) !important;
      font-size: 1rem;
      text-align: justify;
		}

		img {
			//margin-right: 15px;
			width: 120px;
            display: block;
            margin: auto;
            border-radius: 15px;
		}

    }
    
}

// Small devices
@media only screen and (min-width: 0px) and (max-width: 576px) {
    .grid-container{
        @include class-grid-container(10% 90%, 100%, 100vw, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 100vw, 80px);
            @include class-header(.6rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2
            @include class-body(
                100vw, 370vh, 
                170vh 200vh,
                100%, 20% 30% 25% 25%, 
                100%, 25% 25% 25% 25%,
                "a"
                "b"
                "c" 
                "d"
            );
        }
    }
}

// Medium devices  
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .grid-container{
        @include class-grid-container(10% 90%, 100%, 100vw, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 100vw, 80px);
            @include class-header(1rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2
            @include class-body(
                100vw, 185vh,
                85vh 100vh,
                50% 50%, 50% 50%, 
                50% 50%, 33.3% 33.3% 33.3%, 
                "a a"
                "b c"
                "d d"
            );
        }
    }
}

// Large devices
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .grid-container{
        @include class-grid-container(7.5% 92.5%, 100%, 100vw, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 100vw, 80px);
            @include class-header(1rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2
            @include class-body(
                100vw, 185vh,
                85vh 100vh,
                50% 50%, 50% 50%, 
                50% 50%, 33.3% 33.3% 33.3%,
                "a a"
                "b c"
                "d d"
            );
        }
    }
}

// Extra large devices
@media only screen and (min-width: 993px) {
    .grid-container{
        @include class-grid-container(7.5% 92.5%, 100%, 100vw, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 100vw, 80px);
            @include class-header(1rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2
            @include class-body(
                100vw, 185vh,
                85vh 100vh,
                50% 50%, 50% 50%, 
                50% 50%, 33.3% 33.3% 33.3%,
                "a a"
                "b c"
                "d d"
            );
        }
    }
}