<div class="grid-container">
    <div class="header">
        <div *ngFor="let label of labels; let i = index">
            <a class="link" routerLink="{{links[i]}}" routerLinkActive="active">{{label}}</a>
        </div>
    </div>
    <div class="body">
        <div class="screen-1">
            <div class="images">
                <img class="image" src="../../../assets/images/tarjeta.webp" alt="Impuestos">
            </div>
            <div class="definition">
                <h2 style="margin:0%"> 
                    <p> Que es?     </p>   
                    <p>     </p> 
                      </h2>
                <p style="text-align: justify;">
                   {{Tarjeta}}
              
                </p>
                    <p style="text-align: justify;"> 
             
                    </p>

                    <p>    
                    
                </p>
                


            </div>

           

            <div class="tiposImpuestos">
                <h2 style="margin: 0;">    Diferencia entre una tarjeta de credito y una de debito     </h2>
                <ul class="list">
                    <div class="list">
                     <p >{{Debito}}
                        <br><br>
                       <strong> {{Credito}}</strong>
                        </p>
                    </div>
                </ul>
            </div>
            <div class="benefits">
                <h2 class="title"> Cómo obtener una tarjeta de crédito  </h2>
                <div class="government">
                   
                   <ul class="list">
                       <br>
                    <p style="text-align: justify;"> Ya sea que algún banco te haya ofrecido una tarjeta pre aprobada o que estés pensando
                        en solicitar una, la institución con la que saques tu tarjeta de crédito puede evaluar
                         factores como tu historial crediticio, ingresos y capacidad de pago para la aprobación 
                         y asignación de una  línea de crédito. La línea de crédito establece el monto máximo de 
                         dinero del que puedes disponer, ya sea para hacer el pago de tus compras utilizando el
                          plástico o para disponer de efectivo.     </p>

                    <div class="list">
                        <ul class="items">
                         
                        </ul>
                    </div>
                </ul>
                  
                    
                </div>
            </div>
        </div>
        <div class="screen-2">
            <div class="characteristics">            
                    
                <div class="title">
                   
                    <h1 class="text"> Tipos de tarjetas de credito    </h1>
                    
                </div>
                
                <div class="list">
                    <ul class="items">
                        <li *ngFor="let item of Tipos">
                            <strong>{{item.name}}:</strong> {{item.value}}
                        </li>
                        
                    </ul>
                  


                </div>
                <div class="imagenes">
                <img class="im" src="../../../assets/images/tarjetas.jpg" alt="Impuestos">
                </div>




             
                <h1 class="sat">   Costos de una tarjeta de crédito </h1>
                <div class="satt">
                    <ul>
                <p style="text-align: justify;">
                    Recuerda que el uso de tu tarjeta puede generar costos adicionales a tus compras:
            
                    </p>  

                    <li *ngFor="let item of Costos">
                        <strong>{{item.name}}:</strong> {{item.value}}
                    </li>
                </ul>

            </div>
           
           
        <h1 class="fecha">   Tarjeta de crédito: Fechas </h1>
        <div class="fechas">
            <ul>
        <p style="text-align: justify;">
           
            Las fechas a tener en consideración para las tarjetas de crédito son:
         
            </p>  


            <li *ngFor="let item of Fechas">
                <strong>{{item.name}}:</strong> {{item.value}}
            </li>
        </ul>
      
    </div>
   


                
           
            <div class="procedure">
                <h2 class="title">          </h2>
                <h3 class="title">          </h3>
                <p style="text-align: center;">          <a title="Abre en nueva ventana" target="_blank" href="https://www.sat.gob.mx/personas/directorio-nacional-de-modulos-de-servicios-tributarios">   </a> </p>
                <h3 class="title">          </h3>
                
            </div>
        </div>

    </div>
</div>

