<div class="grid-container">
    <div class="header">
        <div *ngFor="let label of labels; let i = index">
            <a class="link" routerLink="{{links[i]}}" routerLinkActive="active">{{label}}</a>
        </div>
    </div>
    <div class="body">
        <div class="screen-1">

            <div class="uses">
                <iframe src="https://www.youtube.com/embed/PI3WW-0TLtg" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>


            <div class="definition">
                <h2>Consejo de Ahorros</h2>
               <ul>
                   <li>1. Establece metas Reales</li>
                   <li>2. Haga un presupuesto para ahorros</li>
                   <li>3. Encuentre maneras de recortar sus gastos</li>
                   <li>4. Establezca metas de ahorros</li>
                   <li>5. Decida cuáles son sus prioridades</li>
                   <li>6. Elija las herramientas adecuadas</li>
                   <li>7. Haga ahorros automáticos</li>
                   <li>8. Vea crecer sus ahorros</li>
               </ul>

            </div>
          
        </div>
        <div class="screen-1">
        
            
        
        
            <div class="definition">
              <p>
                El ahorro es la acción de separar una parte de los ingresos que obtiene una persona o empresa con el fin de guardarlo
                para su uso en el futuro, ya sea para algún gasto previsto o imprevisto, emergencia económica o una posible inversión
              </p>
        
            </div>
            <div class="uses">
                <img src="/assets/images/ahorro.jpg" alt="a">
            </div>
        
        </div>

        <div class="screen-2">
            <div class="characteristics">

                <h1>beneficios de Ahorrar.</h1>
                <div class="v-grid">
                    <div class="v-card">
                        <div>
                   
                            <h2>
                             futuro financiero saludable
                            </h2>
                            <p>
                                a gente que ahorra desde bien joven, <br>
                                puede aspirar a un mejor futuro financiero.<br>

                            </p>
                        </div>
                    </div>
                    <div class="v-card">
                        <div id="virtual-office">
                      
                            <h2>Alcanzar nuestros planes y metas</h2>
                            <p>
                                Una de las principales ventajas de ahorrar,<br>
                                 es que nos permite llevar a cabo muchos de<br>
                                  nuestros planes y alcanzar<br>
                                nuestras metas
                            </p>
                        </div>
                    </div>
                    <div class="v-card">
                        <div id="virtual-office">
                         
                            <h2>
                            Protección frente a disminución de nuestras ganancias
                            </h2>
                            <p>
                            También es muy importante ahorrar, por si por algún motivo,<br>
                             nuestras ganancias se ven disminuidas.
                            </p>
                        </div>
                    </div>
                    <div class="v-card">
                        <div id="virtual-office">
                           
                            <h2>Elabore su Plan de Ahorro</h2>
                            <p>
                                es el momento de pensar en las metas de<br>
                                 ahorro de tu propia familia
                            </p>
                        </div>
                    </div>

                </div>

            </div>
         
        </div>

        <!-- a -->
    </div>
</div>