<div class="grid-container">
    <div class="header">
        <div *ngFor="let label of labels; let i = index">
            <a class="link" routerLink="{{links[i]}}" routerLinkActive="active">{{label}}</a>
        </div>
    </div>
    <!-- <div class="body">
        
        <div class="section-1">
            <h1 class="title">Facturas.</h1>
            <img class="images" src="../../../assets/images/factura.jpg" alt="Factura">
            <p class="definition">
                {{definition}}
            </p>
        </div>
        
        <div class="section-2">
            <div class="left-side">
                <div class="article-top">
                    <h1 class="title">¿Quién está obligado a facturar?</h1>
                    <p class="content">
                        {{obligadosFacturar}}
                    </p>
                </div>
                <div class="article-down">
                    <h1 class="title">Tipos:</h1>
                    <ul class="list">
                        <li *ngFor="let element of typesInvoice">
                            {{element}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-side">
                <h1 class="title">Cuando emitir facturas:</h1>
                <ul class="list">
                    <li *ngFor="let element of emitInvoices">
                        {{element}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-3">
            <div class="top">
                <h1 class="title">Características:</h1>
            </div>
            <div class="content">
                <img class="image" src="../../../assets/images/factura-2.jpg" alt="Factura Imagen">
                <ul class="list">
                    <li *ngFor="let element of characteristics">
                        {{element}}
                    </li>
                </ul>
            </div>
            <div class="footer">
                <button class="button" (click)="goToLink('https://www.sat.gob.mx/aplicacion/82868/genera-tu-factura-electronica-de-forma-gratuita')" mat-raised-button color="primary">
                    Genera tu factura
                </button>
            </div>
        </div>

    </div> -->
    <div class="body">

        <div class="screen-1">
            
            <div id="what-is">
                
                <div id="space-image">
                    <img id="image" src="../../../assets/images/facturas.png" alt="Facturas">
                </div>

                <div id="space-definition">
                    <h1 id="title">¿Qué son las facturas?</h1>
                    <p id="definition">
                        Se trata de un documento mercantil que registra la información de una venta o de una prestación de un servicio. 
                        <br> En ella se constata físicamente que se ha realizado de forma legal y satisfactoria una operación entre dos partes. 
                        <br> Por tanto, da validez y comunica que se han abonado los correspondientes impuestos establecidos.
                    </p>
                </div>

            </div>

            <div id="details">

                <h1 id="title">Explicación a detalle</h1>
                <div id="space-video">
                    <!-- <iframe [src]='safeURL' frameborder="0" allowfullscreen></iframe> -->
                    <iframe id="video"
                    src="https://www.youtube.com/embed/a2yHezedEOg" title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                    </iframe>
                </div>

            </div>

            <div id="data-contain">

                <h1 id="title">¿Qué datos debe contener?</h1>
                <h2 id="subtitle">
                    Cualquier factura incluye una serie de características 
                    imprescindibles y que hacen de cada una de ellas un documento único:
                </h2>
                <ul id="list">
                    <li>Presenta un número correlativo de acuerdo a una serie numérica.</li>
                    <li>Incorpora los datos del comprador y del vendedor, como su nombre o razón social, el NIF y su dirección fiscal.</li>
                    <li>La fecha en que se ha emitido.</li>
                    <li>Una breve descripción del producto o del servicio que se ha realizado.</li>
                    <li>Los impuestos que soporta (normalmente, IVA e IRPF) así como la cuota tributaria. Hay ocasiones en que determinadas actividades están exentas de IVA, lo que se debe hacer constar en la factura.</li>
                    <li>Información sobre posibles descuentos o bonificaciones.</li>
                </ul>

            </div>

        </div>

        <div class="screen-2">

            <div id="types">

                <h1 id="title">Qué tipos de factura existen.</h1>
                <a id="link" href="https://www.actividadeseconomicas.org/2019/04/que-tipos-de-facturas-existen-en-mexico.html">https://www.actividadeseconomicas.org/2019/04/que-tipos-de-facturas-existen-en-mexico.html</a>

            </div>

            <div id="how-make">

                <h1 id="title">¿Cómo elaborar una factura?</h1>
                <iframe id="video" src="https://www.youtube.com/embed/9WSjUJ92acc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

            <div id="do-it">

            </div>

        </div>

    </div>
</div>