<div class="grid-container">
    <div class="header">
        <div *ngFor="let label of labels; let i = index">
            <a class="link" routerLink="{{links[i]}}" routerLinkActive="active">{{label}}</a>
        </div>
    </div>
    <!-- <div class="body">
        
        <div class="section-1">
            <h1 class="title">Facturas.</h1>
            <img class="images" src="../../../assets/images/factura.jpg" alt="Factura">
            <p class="definition">
                {{definition}}
            </p>
        </div>
        
        <div class="section-2">
            <div class="left-side">
                <div class="article-top">
                    <h1 class="title">¿Quién está obligado a facturar?</h1>
                    <p class="content">
                        {{obligadosFacturar}}
                    </p>
                </div>
                <div class="article-down">
                    <h1 class="title">Tipos:</h1>
                    <ul class="list">
                        <li *ngFor="let element of typesInvoice">
                            {{element}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-side">
                <h1 class="title">Cuando emitir facturas:</h1>
                <ul class="list">
                    <li *ngFor="let element of emitInvoices">
                        {{element}}
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-3">
            <div class="top">
                <h1 class="title">Características:</h1>
            </div>
            <div class="content">
                <img class="image" src="../../../assets/images/factura-2.jpg" alt="Factura Imagen">
                <ul class="list">
                    <li *ngFor="let element of characteristics">
                        {{element}}
                    </li>
                </ul>
            </div>
            <div class="footer">
                <button class="button" (click)="goToLink('https://www.sat.gob.mx/aplicacion/82868/genera-tu-factura-electronica-de-forma-gratuita')" mat-raised-button color="primary">
                    Genera tu factura
                </button>
            </div>
        </div>

    </div> -->
    <div class="body">

        <div class="screen-1">
            
            <div id="what-is">
                
                <div id="space-image">
                    <img id="image" src="../../../assets/images/facturas.png" alt="Facturas">
                </div>

                <div id="space-definition">
                    <h1 id="title">{{title1}}</h1>
                    <p id="definition">
                        {{definition}}
                    </p>
                </div>

            </div>

            <div id="details">

                <h1 id="title">{{title2}}</h1>
                <div id="space-video">
                    <!-- <iframe [src]='safeURL' frameborder="0" allowfullscreen></iframe> -->
                    <iframe id="video"
                    src="https://www.youtube.com/embed/a2yHezedEOg" title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                    </iframe>
                </div>

            </div>

            <div id="data-contain">

                <h1 id="title">{{title3}}</h1>
                <h2 id="subtitle">
                    {{subtitle3}}
                </h2>
                <ul id="list">
                    <li *ngFor="let item of characteristics">{{item}}</li>
                </ul>

            </div>

        </div>

        <div class="screen-2">

            <div id="types">

                <h1 id="title">{{title4}}</h1>
                <a id="link" href="https://www.actividadeseconomicas.org/2019/04/que-tipos-de-facturas-existen-en-mexico.html">{{link}}</a>

            </div>

            <div id="how-make">

                <h1 id="title">{{title5}}</h1>
                <iframe id="video" src="https://www.youtube.com/embed/9WSjUJ92acc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

            <div id="do-it">

                <h1 id="title">{{title6}}</h1>
                <button id="button" (click)="goToLink('https://www.sat.gob.mx/aplicacion/82868/genera-tu-factura-electronica-de-forma-gratuita')" mat-raised-button color="primary">
                    Genera tú factura
                </button>

            </div>

        </div>

    </div>
</div>