@mixin center-things {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin class-grid-container($rows, $columns, $width, $height) {

    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    height: $height;
    width: $width;

}

@mixin class-header($link-size) {
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    font-weight: 500;
    .link {
        font-size: $link-size;
        color: white;
        text-decoration: none;
    }
}

@mixin class-grid-container-same-size($rows, $columns, $width, $height) {
    $size-columns: (100/$columns)*1%;
    $size-rows: (100/$rows)*1%;

    display: grid;
    grid-template-columns: repeat($columns, minmax($size-columns, $size-columns));
    grid-template-rows: repeat($rows, minmax($size-rows, $size-rows));
    height: $height;
    width: $width;
}

@mixin title($font-size) {
    font-size: $font-size;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

@mixin screen-1 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
    "a a"
    "b c";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    #what-is {
        grid-area: a;
        overflow: hidden;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        #space-image {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #image {
                width: 80%;
                height: 80%;
            }
        }
        #space-definition {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 30% 70%;
            #title {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                text-align: center;
                color: #09A2AC;
                font-weight: 500;
            }
            #definition {
                padding: 1rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 500;
                font-size: 1.1rem;
            }
        }
    };

    #details {
        grid-area: b;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 90%;
        #title {
            height: 100%;
            width: 100%;
            text-align: center;
            color: #09A2AC;
            font-weight: 500;
        }
        #space-video {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;            
            align-items: center;
            #video {
                border: 2px solid black;
                height: 90%;
                width: 70%;
            }
        }
    };

    #data-contain {
        grid-area: c;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 20% 70%;
        #title {
            height: 100%;
            width: 100%;
            text-align: center;
            color: #09A2AC;
            font-weight: 500;
        }
        #subtitle {
            height: 100%;
            width: 100%;
            overflow: hidden;
            word-break: keep-all;
            font-size: .9rem;
        }
        #list {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            padding-right: 1rem;
            padding-left: 1rem;
            li {
                font-size: .8rem;
                word-break: keep-all;
            }
        }
    };
}

@mixin screen-2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;

    #types {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        #title {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: flex-end;
            justify-content: center;
            color: #09A2AC;
            font-weight: 500;
        }
        #link {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }

    #how-make {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 80%;
        overflow: hidden;
        #title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #09A2AC;
            font-weight: 500;
        }
        #video {
            width: 50%;
            height: 90%;
            align-self: center;
            justify-self: center;
        }
    }

    #do-it {
        background-color: firebrick;
    }
}

@mixin class-body() {
    width: 98.6vw;
    height: 100%;
    display: grid;
    // grid-template-rows: repeat(3, 1fr);
    grid-template-rows: 85vh 100vh;
    grid-template-columns: 100%;
    grid-auto-flow: column;
    .screen-1 {
        @include screen-1();
    }

    .screen-2 {
        @include screen-2();
    }
};



// Small devices
@media only screen and (min-width: 0px) and (max-width: 576px) {
    .grid-container{
        @include class-grid-container(10% 90%, 100%, 100vw, 100vh);
        .header {
            @include class-grid-container-same-size(1, 5, 100vw, 100%);
            @include class-header(.6rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2
            @include class-body();
        }
    }
}

// Medium devices  
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .grid-container{
        @include class-grid-container(10% 90%, 100%, 100vw, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 100vw, 100%);
            @include class-header(1rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2
            @include class-body();
        }
    }
}

// Large devices
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .grid-container{
        @include class-grid-container(7.5% 92.5%, 100%, 100%, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 98.6vw, 100%);
            @include class-header(1rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2
            @include class-body();
        }
    }
}

// Extra large devices
@media only screen and (min-width: 993px) {
    .grid-container{
        @include class-grid-container(7.5% 92.5%, 100%, 100%, 200vh);
        .header {
            @include class-grid-container-same-size(1, 5, 98.6vw, 100%);
            @include class-header(1rem);
        }
        .body {
            // Columns-screen1, Rows-screen1, Columns-screen2, Rows-screen2
            @include class-body();
        }
    }
}